@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/*Common styles*/

/*Select all elements*/
* {
    /*Get rid of default margin and padding from every element*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
}
html {
    font-size: 10px;
}
/*End of common styles*/

/*Section one*/
.section-1 {
    width: 100%;
    height: 100vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.section-heading {
    font-size: 120px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 5px;
    text-shadow: 2px 2px 2px #000;
}
/*End of Section One*/